.form {
    text-align: start;
}

.form label {
    margin: var(--size-2) 0 var(--size-1) 0;
}

.form input,
.form textarea {
    font: inherit;
    border-radius: 4px;
    border: 1px solid var(--color-grey-400);
    background-color: var(--color-grey-50);
    resize: none;
}

.control {
    font-size: var(--size-6);
    color: var(--color-grey-200);
    margin: auto;
    height: 40px;
    text-align: start;
}

.button {
    align-items: initial;
    width: 16rem;
    height: 2.5rem;
    border-radius: 4px;
    border: 1px solid var(--color-primary-700);
    background-color: var(--color-primary-700);
    color: var(--color-primary-50);
}

.button:hover {
    border: 1px solid var(--color-primary-500);
    background-color: var(--color-primary-500);
}

.button:active {
    border: 1px solid var(--color-primary-700);
    background-color: var(--color-primary-700);
}

@media (max-width: 1050px) {
    .form {
        text-align: center;
    }

    .control {
        text-align: center;
    }
}

@media (max-width: 550px) {
    .control {
        display: flex;
        flex-direction: column;
        height: 75px;
    }

    .button {
        margin-top: 10px;
    }
}
