.auth {
    margin: var(--size-8) auto;
    border-radius: 6px;
    background-color: var(--color-grey-100);
    width: 90%;
    max-width: 35rem;
    padding: var(--size-4) var(--size-20);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    font-size: var(--size-6);
}

.auth h1 {
    font-size: var(--size-8);
    margin: var(--size-4) 0;
    text-align: center;
}

.form label {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    margin: var(--size-2) 0 var(--size-1) 0;
}

.form input,
.form textarea {
    font: inherit;
    padding: var(--size-1);
    border-radius: 4px;
    width: 100%;
    border: 1px solid var(--color-grey-400);
    background-color: var(--color-grey-50);
    resize: none;
}

.nameControls {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.controls {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
}

.control {
    flex: 1;
    min-width: 10rem;
    padding-bottom: 10px;
}

.actions {
    margin-top: var(--size-4);
    margin-bottom: var(--size-4);
    text-align: center;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: var(--color-primary-700);
    border: 1px solid var(--color-primary-700);
    padding: var(--size-2) var(--size-4);
    border-radius: 4px;
    color: var(--color-primary-50);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.form button:hover {
    background-color: var(--color-primary-500);
    border-color: var(--color-primary-500);
}

.form button:active {
    background-color: var(--color-primary-700);
    border-color: var(--color-primary-700);
}

.form a {
    color: var(--color-primary-700);
    text-align: center;
    font-size: var(--size-4);
}

.form a:hover {
    color: var(--color-primary-500);
}

.form a:active {
    color: var(--color-primary-700);
}

.error {
    color: var(--color-error-500);
    font-size: var(--size-4);
    text-align: center;
}

@media (min-width: 768px) {
    .contact h1 {
        font-size: var(--size-16);
        text-align: center;
    }
}
